<%- include ('partials/header.ejs') %>
    <h1>Bem-Vindo a HomePage!</h1>
    <hr>
    <ul>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/pedidos">Pedidos</a></li>
    </ul>
    <img width="500px" src="/imgs/imagem1.png" alt="Imagem de Capa">
</body>
</html>
<%- include ('partials/footer.ejs') %>