<%- include ('partials/header.ejs') %>
    <h1>Página de Perfil!</h1>
    <hr>
    <p>Bem-Vindo(a) <strong><%= user %></strong> ao seu perfil</p>

    <br>
    <a href="/"><< Voltar a HomePage</a>
<%- include ('partials/footer.ejs') %>