<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
    <h1>Bem-Vindo a HomePage!</h1>
    <hr>
    <ul>
        <li><a href="/aeronaves">Aeronaves</a></li>
        <li><a href="/carros">Carros</a></li>
        <li><a href="/jogos">Jogos</a></li>
    </ul>
    <img width="500px" src="/imgs/imagem1.png" alt="Imagem NodeJS">
    <img width="500px" src="/imgs/imagem2.png" alt="Imagem ExpressJS">
    <img width="500px" src="/imgs/imagem3.png" alt="Imagem |BootStrap">
</body>
</html>
<%- include ('partials/footer.ejs') %>